@CHARSET "UTF-8";

td.select-checkbox {
    cursor: pointer;
}

body a {
    cursor: pointer !important;
}

.fc-title {
	cursor: pointer !important;
}

.footer {
	bottom: auto !important;
}

select,button {
    text-transform: uppercase;
}

* {
 font-family: 'MaerskText-Regular';
}
@font-face{
	font-family:'MaerskText-Regular';
	src:url('./../fonts/MaerskText-Regular.woff') format('woff'),
		url('./../fonts/MaerskText-Regular.woff') format('woff2');
	font-weight:400;
	font-style:normal;
	font-display:fallback
}
@font-face{
	font-family:'MaerskText-Bold';
	src:url('./../fonts/MaerskText-Bold.woff') format('woff'),
		url('./../fonts/MaerskText-Bold.woff') format('woff2');
		font-weight:400;
		font-style:normal;
		font-display:fallback
}
#topnav .navigation-menu > li > a {
    padding-top: 30px !important;
}

.header__logo-icon, .header__logo-icon svg {
    width: 300px;
    height: 32px;
}
.header__logo {
	display: initial !important;
    padding: 0 30px;
    left: 0;
    z-index: 2;
}

/*
.card-box {
-webkit-box-shadow: 1px 1px 10px 4px rgba(0,0,0,0.21);
-moz-box-shadow: 1px 1px 10px 4px rgba(0,0,0,0.21);
box-shadow: 1px 1px 10px 4px rgba(0,0,0,0.21);
}
*/

h2 {
    font-size: 3.6rem;
    line-height: 5rem;
    color: #004165;
}

.card-grid:hover .button--secondary:after,
.card-grid:focus .button--secondary:after,
.button--secondary:hover:after,
.button--secondary:focus:after,
.button--secondary.button--small:hover:after,
.button--secondary.button--small:focus:after {
	width: 31px
}
.module-heading--card-grid {
	margin-top: 80px
}

.card-grid-container__inner {
	width: 100%;
	padding: 19px 0;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between
}

.card-grid:first-child,
.ie .card-grid:first-child {
	margin-left: 0
}

.ie .card-grid {
	margin-left: calc(100%/12*.75 - 1px)
}

.card-grid__image-container {
	margin: 40px 0
}

.card-grid__icon {
	display: block;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	max-width: 260px
}

.card-grid__icon svg {
	width: 100%;
	height: 100%
}

.card-grid__text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	text-align: center
}

.card-grid__text p {
	-webkit-box-flex: 1;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto
}

.card-grid__link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100%;
	background: #fff;
	padding: 20px 20px 45px
}

.card-grid--with-image .card-grid__image-container {
	margin: 0;
	height: 168px;
	overflow: hidden
}

.card-grid--with-image .card-grid__link {
	padding: 0 0 45px
}

.card-grid--with-image .card-grid__text {
	padding: 20px 20px 0
}

.card-grid__button {
	margin-top: 20px;
	-ms-flex-item-align: center;
	align-self: center
}

[dir="rtl"] .card-grid {
	margin-left: 0;
	margin-right: calc(100%/12*.75)
}

[dir="rtl"] .card-grid:first-child {
	margin-right: 0
}

.card-grid {
    width: calc(100%/12*2.5);
}

.animate-on-scroll--active, .animate-on-scroll__item--active {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.page__main .card-grid {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1
}

.page__main .card-grid-container__inner {
	padding: 5px
}

.page__aside .card-grid__link {
	padding: 0;
	-webkit-box-shadow: none;
	box-shadow: none
}

.page__aside .card-grid__link:hover,
.page__aside .card-grid__link:focus {
	color: #ff6319
}

.page__aside .card-grid__link,
.page__aside .card-grid__link:hover,
.page__aside .card-grid__link:focus {
	color: #737373
}

.page__aside .card-grid__text {
	font-family: 'MaerskText-Regular', Helvetica, sans-serif
}


.button--primary {
	padding: 5px 45px;
}

.button--success {
	font-family: 'MaerskText-Bold', Helvetica, sans-serif;
	color: #4fc55b !important;
	border: 2px solid #4fc55b;
	padding: 5px 45px;
}
.button--success:after {
	background: #4fc55b !important;
}
.button--success:hover, .button--success:focus {
    color: #fff !important;
}

.button--info {
	font-family: 'MaerskText-Bold', Helvetica, sans-serif;
	color: #3db9dc !important;
	border: 2px solid #3db9dc;
	padding: 5px 45px;
}
.button--info:after {
	background: #3db9dc !important;
}
.button--info:hover, .button--success:focus {
    color: #fff !important;
}

:root {}

:root {}

html {
	font-size: 62.5%;
	overflow-x: hidden;
	min-height: 100%
}

body {
	font-family: 'MaerskText-Regular', Helvetica, sans-serif;
	font-size: 1.6rem;
	line-height: 2.5rem;
	color: #737373;
	background-color: #fff;
	-webkit-transition: background-color cubic-bezier(.645, .045, .355, 1) .4s;
	-o-transition: background-color cubic-bezier(.645, .045, .355, 1) .4s;
	transition: background-color cubic-bezier(.645, .045, .355, 1) .4s
}

.body--with-overlay:after {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(69, 69, 69, .1);
	z-index: 1
}

a {
	text-decoration: none;
	color: #737373
}

a.datatlink {
	text-decoration: underline !important;
}

a:focus {
	outline: none
}

a:hover,
a:active {
	outline: 0;
	color: #fd7e14
}

button {
	padding: 0;
	color: inherit;
	background: none;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none
}

button:focus {
	outline: none
}

.button {
	position: relative;
	display: inline-block;
	font-family: 'MaerskText-Bold', Helvetica, sans-serif;
	color: #ff6319;
	-webkit-transition: color cubic-bezier(.645, .045, .355, 1) .2s;
	-o-transition: color cubic-bezier(.645, .045, .355, 1) .2s;
	transition: color cubic-bezier(.645, .045, .355, 1) .2s;
	z-index: 0;
	text-transform: uppercase;
}

.button:after {
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
	background: #ff6319;
	width: 0;
	height: 100%;
	-webkit-transition: width cubic-bezier(.645, .045, .355, 1) .2s;
	-o-transition: width cubic-bezier(.645, .045, .355, 1) .2s;
	transition: width cubic-bezier(.645, .045, .355, 1) .2s
}

[dir="rtl"] .button:after {
	right: auto;
	left: 0
}

.button:hover,
.button:focus {
	color: #fff
}

.button:hover:after,
.button:focus:after,
.button--active:after {
	width: 100%
}

.ios .button:hover:after,
.ios .button:focus:after,
.ios .button:after {
	display: none
}

.button--branded {
	color: #ff6319;
	padding: 14px 45px;
	border-right: 2px solid #ff6319;
	border-bottom: 2px solid #ff6319;
	-webkit-transition: width, color cubic-bezier(.645, .045, .355, 1) .2s;
	-o-transition: width, color cubic-bezier(.645, .045, .355, 1) .2s;
	transition: width, color cubic-bezier(.645, .045, .355, 1) .2s;
	-webkit-transition-delay: 0s;
	-o-transition-delay: 0s;
	transition-delay: 0s;
	overflow: visible
}

[dir="rtl"] .button--branded {
	border-left: 2px solid #ff6319;
	border-right: none
}

.button--branded:hover,
.button--branded:focus {
	color: #fff;
	-webkit-transition-delay: .2s;
	-o-transition-delay: .2s;
	transition-delay: .2s
}

.button--branded:before {
	content: '';
	position: absolute;
	width: calc(100% - 42px);
	top: 0;
	right: 0;
	height: 2px;
	background: #ff6319;
	-webkit-transition: width cubic-bezier(.645, .045, .355, 1) .2s;
	-o-transition: width cubic-bezier(.645, .045, .355, 1) .2s;
	transition: width cubic-bezier(.645, .045, .355, 1) .2s
}

[dir="rtl"] .button--branded:before {
	right: auto;
	left: 0
}

.button--branded:after {
	height: calc(100% - 2px);
	top: 2px;
	-webkit-transition-delay: 0s;
	-o-transition-delay: 0s;
	transition-delay: 0s
}

.button--branded:hover:after,
.button--branded:focus:after {
	-webkit-transform: translateX(2px);
	-ms-transform: translateX(2px);
	transform: translateX(2px);
	-webkit-transition-delay: .3s;
	-o-transition-delay: .3s;
	transition-delay: .3s
}

[dir="rtl"] .button--branded:hover:after,
[dir="rtl"] .button--branded:focus:after {
	-webkit-transform: translateX(-2px);
	-ms-transform: translateX(-2px);
	transform: translateX(-2px)
}

.button--branded:hover:before,
.button--branded:focus:before {
	width: 100%;
	-webkit-transition: width cubic-bezier(.645, .045, .355, 1) .2s;
	-o-transition: width cubic-bezier(.645, .045, .355, 1) .2s;
	transition: width cubic-bezier(.645, .045, .355, 1) .2s;
	-webkit-transition-delay: .15s;
	-o-transition-delay: .15s;
	transition-delay: .15s
}

.rich-text .button--branded {
	border-bottom: 2px solid #ff6319
}

.button--branded .strokes {
	position: absolute;
	top: 4px;
	left: 0
}

[dir="rtl"] .button--branded .strokes {
	left: auto;
	right: 0
}

.button--branded .strokes:before,
.button--branded .strokes:after {
	position: absolute;
	top: 6px;
	left: -14px;
	display: block;
	content: '';
	background: #ff6319;
	height: 2px;
	width: 57px;
	-webkit-transform: rotateZ(-22deg);
	-ms-transform: rotate(-22deg);
	transform: rotateZ(-22deg);
	-webkit-transform-origin: left;
	-ms-transform-origin: left;
	transform-origin: left;
	-webkit-transition: width cubic-bezier(.645, .045, .355, 1) .2s;
	-o-transition: width cubic-bezier(.645, .045, .355, 1) .2s;
	transition: width cubic-bezier(.645, .045, .355, 1) .2s
}

[dir="rtl"] .button--branded .strokes:before,
[dir="rtl"] .button--branded .strokes:after {
	-webkit-transform: rotateZ(22deg);
	-ms-transform: rotate(22deg);
	transform: rotateZ(22deg);
	right: -14px;
	left: auto;
	-webkit-transform-origin: right;
	-ms-transform-origin: right;
	transform-origin: right
}

.button--branded .strokes:after {
	left: -25px;
	top: 16px;
	width: 39px
}

[dir="rtl"] .button--branded .strokes:after {
	right: -25px
}

.button--branded:hover .strokes:before,
.button--branded:focus .strokes:before,
.button--branded:hover .strokes:after,
.button--branded:focus .strokes:after {
	width: 0
}

.button--branded .left-border {
	border-left: 2px solid #ff6319;
	position: absolute;
	left: 0;
	height: 55%;
	bottom: 0;
	-webkit-transition: height cubic-bezier(.645, .045, .355, 1) .2s;
	-o-transition: height cubic-bezier(.645, .045, .355, 1) .2s;
	transition: height cubic-bezier(.645, .045, .355, 1) .2s
}

[dir="rtl"] .button--branded .left-border {
	border-left: none;
	border-right: 2px solid #ff6319;
	left: auto;
	right: 0
}

.button--branded:hover .left-border,
.button--branded:focus .left-border {
	height: 100%;
	-webkit-transition: height cubic-bezier(.645, .045, .355, 1) .2s;
	-o-transition: height cubic-bezier(.645, .045, .355, 1) .2s;
	transition: height cubic-bezier(.645, .045, .355, 1) .2s;
	-webkit-transition-delay: .15s;
	-o-transition-delay: .15s;
	transition-delay: .15s
}

.button--primary {
	font-family: 'MaerskText-Bold', Helvetica, sans-serif;
	color: #ff6319;
	border: 2px solid #ff6319;
}

.button--primary:hover,
.button--primary:focus,
.button--active {
	color: #fff
}

.button--secondary {
	padding-left: 41px;
	font-size: 1.6rem;
	font-family: 'MaerskText-Bold', Helvetica, sans-serif;
	color: #ff6319
}

.button--secondary:hover,
.button--secondary:focus {
	color: #ff6319
}

.button--secondary:after {
	display: block;
	width: 26px;
	height: 2px;
	top: 50%;
	margin-top: -1px;
	left: 0;
	right: auto;
	z-index: 0;
	-webkit-transition: width ease .3s;
	-o-transition: width ease .3s;
	transition: width ease .3s;
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0)
}

.card-grid:hover .button--secondary:after,
.card-grid:focus .button--secondary:after,
.button--secondary:hover:after,
.button--secondary:focus:after,
.button--secondary.button--small:hover:after,
.button--secondary.button--small:focus:after {
	width: 31px
}

.button--secondary.button--small:after {
	margin-top: 1px;
	width: 25px
}

.page__aside .button--secondary {
	display: inline-block
}

[dir="rtl"] .button--secondary {
	padding-right: 41px;
	padding-left: 0
}

[dir="rtl"] .button--secondary:after {
	right: 0;
	left: auto
}

.button--disabled,
.button--disabled .left-border,
.button--disabled:hover,
.button--disabled:focus {
	color: gray;
	border-color: gray
}

.button--disabled .strokes:before,
.button--disabled .strokes:after,
.button--disabled:before {
	background: gray
}

.button--disabled:hover:before,
.button--disabled:focus:before {
	width: 78%
}

.button--disabled:hover:after,
.button--disabled:focus:after {
	width: 0
}

.button--disabled.button--seconbdary:hover:after,
.button--disabled.button--seconbdary:focus:after {
	width: 31px
}

.button--disabled:hover .strokes:after,
.button--disabled:focus .strokes:after {
	width: 39px
}

.button--disabled:hover .strokes:before,
.button--disabled:focus .strokes:before {
	width: 57px
}

.button--disabled:hover .left-border,
.button--disabled:focus .left-border {
	height: 55%
}

.button--small {
	padding: 10px 35px
}

.external-link__anchor {
	color: #ff6319
}

.external-link__anchor svg {
	width: 20px;
	height: 20px;
	fill: #ff6319
}

.external-link svg {
	position: relative;
	bottom: -4px
}

.rich-text .external-link a {
	margin-right: 3px
}

.button-snippet {
	padding-left: 25px;
	margin: 30px 0
}

.button-snippet .button--branded {
	padding: 0
}

.button-snippet .button--branded:hover a,
.button-snippet .button--branded:focus a {
	color: #fff;
	-webkit-transition-delay: .4s;
	-o-transition-delay: .4s;
	transition-delay: .4s
}

.rich-text .button-snippet a {
	border-bottom: none;
	padding: 14px 45px
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none
}

dl,
dd {
	margin: 0
}

.bullet-list .bullet-list-item {
	position: relative;
	padding-left: 9px
}

.bullet-list .bullet-list-item:before {
	content: '';
	position: absolute;
	left: 0;
	top: 10px;
	width: 4px;
	height: 4px;
	background: #737373;
	border-radius: 50%
}

[dir="rtl"] .bullet-list .bullet-list-item {
	padding-left: 0;
	padding-right: 9px
}

[dir="rtl"] .bullet-list .bullet-list-item:before {
	left: auto;
	right: 0
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: normal;
	margin: 0
}

h1 {
	font-size: 5.8rem;
	line-height: 6.8rem
}

h2 {
	font-size: 3.6rem;
	line-height: 5rem
}

h3 {
	font-size: 2.8rem;
	line-height: 3.9rem
}

h4 {
	font-size: 2.2rem;
	line-height: 3rem
}

h5 {
	font-size: 1.6rem;
	line-height: 2.7rem
}

h6 {
	font-size: .67rem
}

.module-heading {
	margin-bottom: 40px;
	color: #004165
}

.module-heading--card-grid {
	margin-top: 80px
}

p {
	margin: 0
}

strong,
b,
.bold {
	font-family: 'MaerskText-Bold', Helvetica, sans-serif
}

.page__main .wrapper {
	padding: 0
}

.page-heading {
	margin: 40px auto;
	color: #004165;
	overflow-wrap: break-word
}

.ie .page-heading,
.edge .page-heading {
	word-wrap: break-word
}

.page-heading+div .page__aside,
.page-heading+div .page__main {
	margin-top: 0
}

.page {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap
}

.page--left-rail {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse
}

.page__aside {
	margin-top: 60px;
	width: calc(100%/12*3.25);
	margin-right: calc(0 - calc(100%/12*.25))
}

.page__aside--floated {
	margin-top: -55px;
	z-index: 1
}

.page__main {
	width: calc(100%/12*8);
	margin: 40px calc(100%/12*.75) 0 0
}

.page__main h1,
.page__main h2,
.page__main h3,
.page__main h4,
.page__main h5 {
	margin-bottom: 15px;
	color: #004165
}

.page--left-rail .page__aside {
	margin-left: calc(0 - calc(100%/12*.25));
	margin-right: 0
}

.page--left-rail .page__main {
	margin: 60px 0 0 calc(100%/12*.75)
}

table {
	width: 100%;
	text-align: center;
	font-size: 1.4rem;
	line-height: 2rem
}

th {
	background: #3cb6ce;
	color: #fff;
	position: relative;
	font-family: 'MaerskText-Bold', Helvetica, sans-serif
}

tbody th:after {
	display: none
}

#main {
	padding-top: 110px;
	-webkit-transition: -webkit-transform cubic-bezier(.645, .045, .355, 1) .4s;
	transition: -webkit-transform cubic-bezier(.645, .045, .355, 1) .4s;
	-o-transition: transform cubic-bezier(.645, .045, .355, 1) .4s;
	transition: transform cubic-bezier(.645, .045, .355, 1) .4s;
	transition: transform cubic-bezier(.645, .045, .355, 1) .4s, -webkit-transform cubic-bezier(.645, .045, .355, 1) .4s
}

.header--terminal+#main {
	padding-top: 170px
}

.show-on-focus {
	position: absolute;
	top: 0;
	left: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
	background-color: #eee
}

.show-on-focus:focus {
	height: auto;
	width: auto
}

.hidden-accessible {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow: hidden
}

.no-scroll {
	height: 100%;
	overflow: hidden
}

.equal-height {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}

.circular-item {
	border-radius: 50%
}

.text-center {
	text-align: center
}

.fit-image {
	position: absolute;
	display: block;
	height: 100%;
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover
}

.ie .fit-image,
.edge .fit-image {
	visibility: hidden
}

.ds-tilted {
	-webkit-box-shadow: 0 2px 15px 0 rgba(197, 197, 197, .5);
	box-shadow: 0 2px 15px 0 rgba(197, 197, 197, .5);
	-webkit-transition: -webkit-box-shadow .4s cubic-bezier(.645, .045, .355, 1);
	transition: -webkit-box-shadow .4s cubic-bezier(.645, .045, .355, 1);
	-o-transition: box-shadow .4s cubic-bezier(.645, .045, .355, 1);
	transition: box-shadow .4s cubic-bezier(.645, .045, .355, 1);
	transition: box-shadow .4s cubic-bezier(.645, .045, .355, 1), -webkit-box-shadow .4s cubic-bezier(.645, .045, .355, 1)
}

table.dataTable tbody tr.selected, table.dataTable tbody th.selected, table.dataTable tbody td.selected {
    color: white !important;
    background-color: gray !important;
}
span#totalBalanceLbl {
    font-size: 25px;
}
span#totalDelayedBalanceLbl {
    font-size: 25px;
}
span#totalSelectedBalanceLbl {
    font-size: 25px;
}
.dataTables_empty{
   font-size: 20px;
}
.font-17 {
	font-size: 17px;
}

.table-custom {
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.5rem;
}
}